/* @import '../mixins'; */
.title {
	display: inline-block;
	width: 100%;
	font-family: 'Poppins';
	font-size: 4rem;
	font-weight: 700;
	text-transform: uppercase;
	text-align: center;
	margin: 0 auto;
	margin-top: 2rem;
	margin-bottom: 1.5rem;
	color: rgb(57, 55, 55);
}
